extends ../../layout

block content
  div(class='col-md-6')
    form(id='productStorage-add-form' name='productStorage-delete-form' class='form-horizontal' method="POST" action='')
      input(id='id' type="hidden" name='id' value=productStorage.id class='form-control')
      div(class='form-group')
        div(class='col-md-12') #{productStorage.storage} #{productStorage.product} 
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Delete