extends ../../layout

block content
  div(class='col-md-6')
    form(id='productStorage-add-form' name='productStorage-add-form' class='form-horizontal' method="POST" action='')
      input(id='id' type="hidden" name='id' value=productStorage.id class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='shop') Shop
        div(class='col-md-9')
          select(id='shop' name='shop' class='form-control')
            option(value='') Select a shop
            each shop in shops
              option(value=shop.address)= `${shop.name} , ${shop.address}`
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Update
