extends ../../layout

block content
  div(class='col-md-6')
    form(id='productStorage-add-form' name='productStorage-add-form' class='form-horizontal' method="POST" action='')
      div(class='form-group')
        div(class='col-md-3')
          label(for='storage') Storage
        div(class='col-md-9')
          input(id='storage' name='storage' value=$fn.getPropOrDefault(newProduct, 'storage') class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='product') Product
        div(class='col-md-9')
          input(id='product' name='product' value=$fn.getPropOrDefault(newProduct, 'product') class='form-control')
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-primary') Update